# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.sqlite3
*.log

# Test artifacts
.coverage
htmlcov/
.pytest_cache/

# Node/Vue
node_modules/
dist/

# Environment variables
.env

# Notes
notes.md

