# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
*.sqlite3
*.log

# Node/Vue
node_modules/
dist/

# Environment variables
.env

# Notes
notes.md

